<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="venta_paquetes">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <property name="java-output-path" value="/venta_paquetes/build/classes"/>
        <property name="context-root" value="venta_paquetes"/>
    </wb-module>
</project-modules>
